@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* header section */

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #f7f7f7;
}

header h1 {
    font-size: 24px;
    color: #000;
}

.btn-contact {
    background-color: #2D3EC8;
   padding: 10px 20px;
    color: white;
    border-radius: 20px;
}  

.btn-contact:hover{
    background-color: #62626251;
    color: white;
    border-radius: 20px;
    transition: 0.5s;
}  


nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #323138;
}


/* Main section */

main {
        display: flex;
        justify-content: space-evenly;
        padding: 50px;       
}

.section-1{
    width: 50%;
}
    
main section h2 {
    
    font-size: 3.5rem;
    background-image: linear-gradient(135deg, #2D3EC8, #C124AD, #FF7C5D,  #F9F871); 
    -webkit-background-clip: text;  
    background-clip: text;
    color: transparent;
  }

main section p {
    font-size: 1rem;
    padding-right: 30px;
    color: #323138;
    text-align: justify;
}

.get-started, .learn-more{
    padding: 10px 15px;
    margin-top: 20px;
    margin-right: 10px;
    background-color: #2D3EC8;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.get-started,.learn-more a{
    text-decoration: none;
    color: white;
}

.get-started, .learn-more:visited{
    text-decoration: none;
    color: white;
}


button:hover {
    background-color: #d8d8d8;    
}

/* Utilities section*/


.utilities {
    display: flex;
    justify-content: space-between;
    padding: 100px 50px;
    background-color: #f1f1f1;
}

.utilities div {    
    text-align: center;
    width: 30%;
    padding: 25px 5px;
    border: 2px solid #323138;
    border-radius: 10px;
    background-color: #37363d;
    transition: 0.5s; 
}

.utilities div:nth-child(1):hover{
    background-color: #2d3fc8c3; 
}
.utilities div:nth-child(2):hover{
    background-color: #ff3c83b5; 
}
.utilities div:nth-child(3):hover{
    background-color: #ffbe4ecd; 
}

.utilities span {
    font-size: 24px;
}

.utilities h3 {
    font-size: 20px;
    color: #fff;
}

.utilities p {
    font-size: 16px;
    color: #fff;
}

/* more info section */

.mas-info{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 40px;
    background-color: #f6f6f6;
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;
}

.prepare-section{
    width: 40%;
}

.prepare-section h2{
    margin-left: 10px;
    margin-bottom: 30px;
    font-size: 3rem;
    background-image: linear-gradient(45deg, #2D3EC8, #C124AD, #FF7C5D,  #F9F871); 
    -webkit-background-clip: text;  
    background-clip: text;
    color: transparent;
  }

.prepare-section p{
    text-align: justify;
    margin: 10px;
    color: #323138;
}


/* Review section*/

.reviews h1, .reviews h2{
    text-align: center;
    padding: 30px 0;
    font-family: 'Roboto Slab', serif;
}

.carousel-item p{
    margin: 20px auto;
    text-align: center;
    width: 60%;
}

.carousel-item img{
    margin: 0 auto;
}

/* footer section*/


.form-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f1;
    padding: 30px 0px;
}
.form-section p{
    margin: 20px auto;
    text-align: center;
    width: 80%;
}

.form-section h1{
    font-family: 'Roboto Slab', serif;
}